# Compiled Object files
*.o
*.obj
*.ko
*.elf

# Executables
*.exe
*.out
*.app
*.i386
*.x86_64

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.dylib

# Shared Object files
*.dll
*.so
*.dylib

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Build directories
build/
Build/
BUILD/
out/

# IDE files
.vs/
.vscode/
*.vcxproj.user
*.sln.docstates

# Temporary files
*.tmp
*.temp
*~

